
.classInvite{
    .step {
      margin-bottom: 65/40em;
      article {
          width: 590/40em;
          background: #ffffff;
          border-radius: 5px;
          padding: 0.5em 0.75em 0.75em;
          margin: 0.5em auto;
      }
      h3 {
          font-size: 30/40em;
          color: #229bf5;
          padding: 0 0 0.5em;
      }
      p {
          font-size: 30/40em;
          color: #000;
          line-height: 1.8em;
      }
  }
  .copyCode {
      width: 590/40em;
      height: 120/40em;
      background: #ffffff;
      border-radius: 5px;
      margin: 65/40em auto;
      border: 2px dashed #959595;
      text-align: center;
      padding: 0.75em 0 1em;
      h3{font-size:30/40em;color:#229bf5;padding:0 0 .5em;}
    p{font-size:30/40em;color:#000;line-height:1.8em;}
  }

  .button {
      width: 560/40em;
      margin: 0 auto;
      padding-bottom: 42px;
  }
}

.myClassApply{
    .cell{
        padding:1rem;
        span{
            dispaly:inline-block !important;
        }
        border-bottom:1px solid #d9d9d9;
        &:last-child{
            border: none;
        }
        p{
            float:right;
            font-size:15px;
            color:#999;
        }
        .btn{
            float:right;
            margin-top:0;
            margin-left:10px;
        }
    }
}
