{
  "presets": [
    ["env", { "modules": false }],
    "es2015","stage-3"
  ],
  "plugins": ["transform-runtime",
    ["component", [
      {
        "libraryName": "mint-ui",
        "style": true
      }
    ]]
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "es2015","stage-3"],
      "plugins": [ "istanbul" ]
    }
  }
}
