.DS_Store
.idea
.vscode/
node_modules/
#distT/static/
distT/unpackage/release/
#distT/index.html
distT/.project
*.log
selenium-debug.log
test/unit/coverage
test/e2e/reports
distT/unpackage/.confirmed_dependencies
